{% extends 'layout.html' %}
{% block content %}

<div class="container">
    {% include '_messages.html' %}        
        {% from "_formhelpers.html" import render_field %}
        <div class="text-center h1 text-danger">Register</div>
        <form method="POST" enctype="multipart/form-data">
        <div>
            {{ render_field(form.name ,class="form-control") }}
            {{ render_field(form.username ,class="form-control") }}
            {{ render_field(form.email ,class="form-control") }}
            {{ render_field(form.password ,class="form-control") }}
            {{ render_field(form.confirm ,class="form-control") }}
            <input type="file" name="photo">
        </div>
        
        <p><input type=submit value="Register" class="btn btn-info nt-2"></p>
        </form>
</div>

{% endblock content %}